.project {
    background-color: #080808;
    color: white;
    padding: 50px;
}
.pro-img {
    width: 250px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px #00ffee;
}
.pro-img:hover {
    transform: scale(1.05);
    transition: 0.5s;
}
.project-text {
    border: 2px solid #00ffee;
    padding: 20px;
    border-radius: 10px;
    background-color: #1a1a1a;
    box-shadow: 0 0 10px #00ffee;
    transition: 0.5s;
    margin: 5px;
}
.project-flex {
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .project-flex {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .pro {
        font-size: 18px;
        font-weight: 500;
    }
}